.container
  .row.col-md-6.col-sm-6.col-md-offset-2.col-sm-offset-2
    %h2.text-center
      = t('.edit', name: resource.email)
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render partial: 'the_notification/form', locals: { object: resource }
      .field.form-group.text-center
        .input-group
          %span.input-group-addon.glyphicon.glyphicon-user
          = f.text_field :name, autofocus: true, placeholder: t('.name'), class: 'form-control'
      .field.form-group.text-center
        .input-group
          %span.input-group-addon.glyphicon.glyphicon-envelope
          = f.email_field :email, placeholder: t('.email'), class: 'form-control'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          = t('.waiting_conformation', email: resource.unconfirmed_email)
      .field.form-group.text-center
        .input-group
          %span.input-group-addon.glyphicon.glyphicon-eye-open
          = f.password_field :password, autocomplete: :off, placeholder: t('.new_password'), class: 'form-control'
      .field.form-group.text-center
        .input-group
          %span.input-group-addon.glyphicon.glyphicon-eye-open
          = f.password_field :password_confirmation, autocomplete: :off, placeholder: t('.new_password_repeat'), class: 'form-control'
      .field.form-group.text-center
        .input-group
          %span.input-group-addon.glyphicon.glyphicon-eye-open
          = f.password_field :current_password, autocomplete: :off, placeholder: t('.current_password'), class: 'form-control'
      .actions.form-group.text-center
        = f.submit(class: 'btn btn-default', value: t('.update'))
    %div.text-center
      - resource_class.omniauth_providers.each do |provider|
        - if current_user.credentials.where(provider: provider).exists?
          = link_to t('.remove_social', provider: provider.to_s.titleize), unbind_path(provider)
        - else
          = link_to t('.add_social', provider: provider.to_s.titleize), omniauth_authorize_path(resource_name, provider)
        %br/
    %h3.text-center
      = t('.cancel_account_text')
    %div.text-center
      #{button_to t('.cancel_account'), registration_path(resource_name), data: { confirm: t('.cancel_account_confirm') }, method: :delete, class: 'btn btn-default'}
    %div.text-center
      %br/
      = link_to t('.back'), :back
